link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
link(rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css")
link(rel="stylesheet" href="/stylesheets/angular-material.layouts.min.css")
link(rel="stylesheet" href="/stylesheets/angular-material.min.css")
link(rel="stylesheet" href="/stylesheets/animate.css")
link(rel="stylesheet" href="/stylesheets/mdb.min.css")
link(rel="stylesheet" href="/stylesheets/login.css")
link(rel="stylesheet" href="/stylesheets/home.css")
link(rel="stylesheet" href="/stylesheets/mainBox.css")

script(src="/javascripts/js/jquery.min.js")
script(src="/javascripts/js/bootstrap.min.js")
script(src="/javascripts/js/angular.min.js")
script(src="/javascripts/js/angular-aria.min.js")
script(src="/javascripts/js/angular-animate.min.js")
script(src="/javascripts/js/angular-material.min.js")
script(src="/javascripts/js/angular-ui-router.min.js")
script(src="/javascripts/js/mdb.min.js")
script(src="/socket.io/socket.io.js")
script(src="/javascripts/angular-modules/app.js")
script(src="/javascripts/angular-modules/controllers.js")
script(src="/javascripts/angular-modules/service.js")