.ui-main
	.mainBox
		.displayBox
			#messages
		.inputBox
			form
				input(type="text" maxlength="100" id="m" autocomplete="off")
				input.pull-right(class="btn btn-primary" type="submit" value="Send")